<% layout('layouts/boilerplate') -%> 
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <%- include('../partials/searchFilter') %>
        </div>
       
    </div>
</div>
<div class="pagination">
    <span>Page <%= result.page %> of <%= result.totalPages %></span>

    <% if (result.hasPrevPage) { %>
        <a href="http://localhost:3000/posts?page=<%= result.prevPage %>&querystring.stringify({...searchParams}) %>"
            style="padding: 0.5rem; background-color: #f0f0f0; border-radius: 0.25rem;">Previous</a>
        <% } %>

            <% if (result.hasNextPage) { %>
                <a href="http://localhost:3000/posts?page=<%= result.nextPage %>&<%= querystring.stringify({...searchParams}) %>"
                    style="padding: 0.5rem; background-color: #f0f0f0; border-radius: 0.25rem;">Next</a>
                <% } %>
</div>

<%result.docs.map( post => {%>


    <div class="post"> 
        <h1> <strong>title:</strong> <%= post.title  %></h1>
        <div> <strong>price:</strong> <%= post.price  %></div>
        <div> <strong>description:</strong> <%= post.description  %></div>
        <div> <strong>location:</strong> <%= post.location  %></div>
        <div>
           <strong>rating:</strong> <%= post.avgRating %> <strong>/5</strong>
        </div>
        <div><a href="/posts/<%= post.id  %>">View more</a></div>
    </div>
    
<%}) %>
 